<div id="footer">
  <div class="wrapper">
<div class="tm">
<p>© Vydia Inc. 2014</p>
<p>Registered in the United States of America.</p>
</div>
    <div class="socials">
      <div class="icons">
        <img src="https://s3.amazonaws.com/myfangate.com/vydiaemail/facebook.png">
        <img src="https://s3.amazonaws.com/myfangate.com/vydiaemail/twitter.png">
        <img src="https://s3.amazonaws.com/myfangate.com/vydiaemail/instagram.png">
        <img src="https://s3.amazonaws.com/myfangate.com/vydiaemail/youtube.png">
      </div>
    </div>
  </div>
</div>
