<div id="banner">
<div class="banner-content">
  <div class="subject">
  <p>[SUBJECT]</p>
</div>
  <div class="socials">
        <img src="https://s3.amazonaws.com/myfangate.com/vydiaemail/facebook.png" height="20px" width="20px;">
        <img src="https://s3.amazonaws.com/myfangate.com/vydiaemail/twitter.png" height="20px" width="20px;">
        <img src="https://s3.amazonaws.com/myfangate.com/vydiaemail/instagram.png" height="20px" width="20px;">
        <img src="https://s3.amazonaws.com/myfangate.com/vydiaemail/youtube.png" height="20px" width="20px;">
</div>
</div>
</div>


<div id="headerwrap">
      <div class="logo">
  </div>
</div>
