<div class="content">
  <h1> Hello [USERNAME],</h1>
  <p><%= lorem.paragraphs 2 %></p>
  <div class="btnholder">
    <input type="submit" value="Let's go!" class="btn">
  </div>
  <p><%= lorem.paragraphs 2 %></p>
  <div class="btnholder">
    <input type="submit" value="Let's go!" class="btn">
  </div>
</div>
